.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 800px;
    width: 580px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 8px;
}



.headerContainer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; /* Adjust to your desired width */
}

.gameContainer h1 {
    font-size: 24px;
    font-family: 'Georgia', serif;
    color: #333;
    margin: 0;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 12px; 
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.solutionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    box-sizing: border-box;
    height: 660px;
    width: 580px;
    padding: 0;
}


.imageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 400px; 
    margin: 10px auto; 
    padding: 10px;
    box-sizing: border-box;
}

.responsiveImageCard {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
}



.shareContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;  
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.shareButton {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #fbfbfb;
    color: #000000;
    padding: 8px 16px; 
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-box {
    color: #333;
    max-width: 600px;
    width: 50vw;
    padding: 16px;
    text-align: center;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 8px;
}

.dialog-box ul {
    text-align: left;
    margin: 0 auto 20px;
    padding-left: 20px;
    list-style: disc;
}

.confirmButton {
    border-radius: 8px; 
    background-color: #fbfbfb;
    color: #000000;
    padding: 6px 12px; 
    flex-grow: 0; 
}


@media (max-width: 768px) {
    .gameContainer, .solutionContainer {
        width: 100%;
    }

    .gameContainer h1 {
        font-size: 18px;
    }

    .buttonContainer {
        flex-direction: column; 
        gap: 10px;
    }

    .dialog-box {
        width: 90%; 
        padding: 16px;
        max-height: 80vh;
    }
}

@media (max-width: 480px) {
    .gameContainer, .solutionContainer {
        width: 100%;
        max-width: 90vw;
    }

    .gameContainer h1 {
        font-size: 16px;
    }

    .buttonContainer {
        gap: 8px;
    }

    .dialog-box {
        width: 90%; 
        padding: 16px;
        max-height: 80vh;
    }
}
