/*Progressbar.css*/

.progressContainer {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

.progressButton {
    width: 100%;
    height: 30;
    width: 30;
    flex: 1;
    border-radius: 0px;
    background-color: #fbfbfb;
    color: #000000;
    border: 2px solid white;
    border-radius: 8px;
}

.currentProgressButton {
    height: 30;
    width: 30;
    flex: 1;
    border-radius: 0px;
    background-color: #dcdcdc;
    color: #000000;
    border: 1px solid #ccc; 
    border: 2px solid white;
    border-radius: 8px;
 
}


.actionButton {
    height: 40px;
    width: 100px;
    flex: 1;
    border-radius: 0px;
    padding: 10px;
    background-color: #fbfbfb;
    color: #000000;   
    border: 1px solid #ccc; 
    border: 2px solid white;
    border-radius: 8px;
}



